# Why Python

Python is probably the most widely used all-purpose programming language in science. Although many people will use other languages for specific applications (e.g. R for statistical analysis), the beauty of Python is that it can be used for anything, from analyzing and comparing genome sequences, to training deep neural networks, producing beautiful interactive graphs, creating web apps, or designing an interface to interact with experimental equipment. Also outside academia, Python is being used more and more; take a look at these Google Trends:

![Trends in the use of programming languages](Media/languages.png)

For the purpose of this class, Python is useful because there are Python **modules** for all the topics we will be discussing (genomics, proteomics, metabolomics, networks, and machine learning). Additionally, Python is intuitive and well designed, so when your intuition tells you that something should work---well, it typically works.

## Jupyter notebooks

Last but not least, Python allows us to work with **notebooks**. The document you are reading (with an `.ipynb` extension) is a Python notebook. In notebooks, content is organized in **cells**, which may contain text or code. For example, the following cell contains a simple piece of Python code, which can be executed by selecting it and typing `ctrl+Enter`. Let's try it:

In [2]:
print('Hello world!')

Hello world!

There you go! You may have just run your first Python program! :)

Using the bar at the top of this page you can add, delete, move cells, change cell type to make them code or text, and many other things. You can also use the following shortcuts to do things faster:

![Notebook shortcuts](Media/jupyter-shortcuts.png)

# How to complete the practical work

n

# Basic types and data structures

As any other programming language, Python uses some basic types and data structures. For example, some variables in Python are integers, others are floats, or strings, or lists...

Unlike most other programming languages, however, in Python the types of variables are not fixed and do not need to be assigned beforehand. Rather, the type of a variable is defined when a value is assigned to it. Let's see how this works

In [4]:
# Let's make "v" a variable of type int (integer) 
v = 40
print(type(v))
print('The value of v is', v)

<class 'int'>
The value of v is 40

OK, lots of new things going on in this little code snippet. The first line is a **comment**: in Python, anything that is preceeded by the # symbol is considered a comment and, therefore, ignored. Adding comments to code is very useful: **ALWAYS comment your code generously!**

In the second line of code we create a variable `v` and assign to it the value 40, so it automatically becomes an `int`. In the third line we print this type to make sure that it is, indeed, and `int`, and in the fourth we print the value of `v`.

Note that, compared to other programming languages, Python is less structured. For example, as we have seen, you do not need to define variables and can even change the type of a variable. Also, notice that we do not need to specify the end of a line (in `C`, for example, all lines must end with `;`). This is good in some situations but it forces you to be extra-careful with format in others. We will see some examples when we discuss flow control below.

# Flow control

Python mostly uses the usual flow control statements known from other languages. Let's look at them one by one.

## `if` statements

Perhaps the most well-known statement type is the `if` statement. For example:

In [5]:
v = 15

if v < 10:
    print('v is smaller than 10')
elif v <= 20:
    print('v is between 10 and 20')
else:
    print('v is larger than 20')

v is between 10 and 20

In this example, Python evaluates the first comparison and if it is true (that is, if `v`<10) it prints the first output and finishes. If this condition is not fullfilled, then it jumps to the second condition; if this alternative condition is fulfilled, then the program prints the second output and finishes. Finally, if none of the preceding conditions are fulfilled, the program prints the third output and finishes.

**Note on indenting!!!!!!!**

## `for` statements

The for statement in Python differs a bit from what you may be used to in C or other languages. Rather than always iterating over an arithmetic progression of numbers, or giving the user the ability to define both the iteration step and halting condition (as C), Pythonâ€™s for statement **iterates over the items of any sequence** (for example, a list or a string), in the order that they appear in the sequence. For example (no pun intended):

In [6]:
# Iterate over elements in a list
for e in ['dog', 'cat', 34, [1, 2]]:
    print(e)

dog
cat
34
[1, 2]

In [15]:
# Iterate over a sequence of integers. Note that it starts at 0!
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
# Iterate over letters in a string
for e in 'Hello':
    print(e)

H
e
l
l
o

In [9]:
# Iterate over elements in a dictionary. Note that it iterates over the KEYS of the dictionary!
for e in {'red' : 'vermell', 'blue' : 'blau'}:
    print(e)

red
blue

## `while` statements

`while` statements are a "mixture" of `for` and `if` statements. As in `if` statements, a conditions is evaluated; as in `for` statements, the program loops over the lines inside the statement. In this case, the program loops while the condition evaluates to `True`. Let's see an example:

In [16]:
a = 1
while a < 50:
    print(a)
    a = a * 2

1
2
4
8
16
32

# Functions

So far, we have only dealt with very simple pieces of code. Often, however, we need to write much more complex programs. Then, it becomes absolutely necessary (mandatory) to encapsulate pieces of code into functions, especially if these pieces of code will be used repeatedly. Python functions are, in this sense, similar to funtions in `C`, `Java` or most other programming languages. Let's start by defining a simple function:

In [ ]:
def is_greater_than_2(x):
    if x > 2:
        return True
    else:
        return

# Classes

Python is an object-oriented language

# Python modules

One of the strongest points of Python is that there is much code already written, for doing all sorts of things from parsing text or making plots, to comparing genomes and implementing machine learning algorithms. These extensions to basic Python functionality are called *modules*. Basically, each of the following practical sessions we will be learning about one particular Python module. Here, we introduce some modules that are generally useful for dealing with data.

## Pandas

Pandas is a Python module that allows you to work with objects that resemble Excel spreedsheets or, if you wish, `R` data frames. Let's start by importing Pandas:

In [1]:
import pandas as pd

This command imports the `pandas` module and renames it as `pd`. From this point on, whenever we want to use a `pandas` method or data structure we just need to write `pd.your_whatever`. Renaming `pandas` to `pd` is not necessary (that is, you can just do `import pandas` and then `pandas.your_whatever` whenever you need to), but renaming to `pd` saves a lot of typing when writing long programs.

The basic Pandas data type is the `DataFrame`, which, again, can be though of as an Excel spreadsheet or an `R` data frame. A `DataFrame` can be created in many different ways: let's start by creating a `DataFrame` from regular dictionary.

In [12]:
names = ['Harry', 'Hermione', 'Ron', 'Luna']
colleges = ['Gryffindor', 'Gryffindor', 'Gryffindor', 'Ravenclaw']
ages = [15, 15, 15, 14]
genders = ['male', 'female', 'male', 'female']
data_dict = {'name' : names, 'college' : colleges, 'age' : ages, 'gender' : genders}
df = pd.DataFrame(data_dict)
display(df)

       name     college  age  gender
0     Harry  Gryffindor   15    male
1  Hermione  Gryffindor   15  female
2       Ron  Gryffindor   15    male
3      Luna   Ravenclaw   14  female

There you go. When you create a Pandas `DataFrame` from a dictionary whose values are lists of the same size, dictionary keys become column titles and the lists become the columns themselves. `DataFrame`objects are useful, among other things, because we can easily filter and extract partial information from them. Let's see some examples, from simple to complex:

In [13]:
# Extract some rows
df.iloc[1:3]

       name     college  age  gender
1  Hermione  Gryffindor   15  female
2       Ron  Gryffindor   15    male

In [14]:
# Extract some columns
df[['name', 'age']]

       name  age
0     Harry   15
1  Hermione   15
2       Ron   15
3      Luna   14

In [15]:
# Extract rows according to a simple condition
display(df[df['age'] <= 14])
display(df[df['college'] == 'Gryffindor'])
display(df[df['gender'] == 'female'])

   name    college  age  gender
3  Luna  Ravenclaw   14  female

       name     college  age  gender
0     Harry  Gryffindor   15    male
1  Hermione  Gryffindor   15  female
2       Ron  Gryffindor   15    male

       name     college  age  gender
1  Hermione  Gryffindor   15  female
3      Luna   Ravenclaw   14  female

Filterning Pandas data frames with more complex searches involving multiple conditions is a bit confusing at first, because the syntax for the comparisons is not the same as in Python in general. For example, in regular Python if you wanted combine conditions `c1` and `c2` with an `and` operator you would write `c1 and c2`; however, within a Pandas filtering statement, you would need to write `(c1) & (c2)`. Similarly, instead of `or` you need to use `|`. Let's see a couple of examples:

In [18]:
# Extract rows with more complex conditions
display(df[(df['age'] > 14) & (df['gender'] == 'female')])
display(df[(df['age'] > 14) | (df['gender'] == 'female')])

       name     college  age  gender
1  Hermione  Gryffindor   15  female

       name     college  age  gender
0     Harry  Gryffindor   15    male
1  Hermione  Gryffindor   15  female
2       Ron  Gryffindor   15    male
3      Luna   Ravenclaw   14  female


To learn more about complex filtering conditions, take a look at [this tutorial](https://www.ritchieng.com/pandas-multi-criteria-filtering/).

## Matplotlib